{% extends 'layout.html'%}

{%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,maximum-scale=5"/>
      <title>Team Page</title>
      <link rel="stylesheet" href="../static/style.css">

  </head>
  <body>
    <div class="main">
      <div class="item">
        <h1 class="main-title">Meet The Harran team</h1>
      </div>
      <div class="item right-section">
        <h2 class="secondary-title">Who we are</h2>
        <p class="description">We are a team of Developer.  We are driven.  innovative individuals </p>
      </div>
    </div>

    <div class="team-members">

      <div class="team member-1">
        <img id="img-1" src="../Images/mina.jpeg" alt="Mina Tadros">
        <span class="position">Developer</span>
        <p class="name">Mina Tadros</p>
        <p>Fun Fact: During COVID, I spent a whole day playing video games.</p>
        <p>minosalah300@gmail.com</p>
      </div>

      <div class="team member-2">
        <img id="img-2" src="../Images/Abdi.png" alt="Abdirahman Abdulle">
        <span class="position">Developer</span>
        <p class="name">Abdirahman Abdulle</p>
        <p>Fun Fact: I love coffee and tea. </p>
        <p>a.abdulle001@umb.edu</p>
      </div>

      <div class="team member-3">
        <img id="img-3" src="../Images/Bernadine.jpeg" alt="Bernadine Charles">
        <span class="position">Developer</span>
        <p class="name">Bernadine Charles</p>
        <p>Fun Fact: I like watching Soccer, Basketball, and American Football.</p>
        <p>bernadinecharles98@gmail.com</p>
      </div>

      <div class="team member-4">
        <img id="img-4" src="../Images/Mario.jpeg" alt="Mario Pina">
        <span class="position">Developer</span>
        <p class="name">Mario Pina</p>
        <p>Fun Fact: I speak English, Spanish, a little Portuguese. I'm ambidextrous.</p>
        <p>MarioJpina16@gmail.com</p>
      </div>


    </div>

    <div class="footer">
      <p class="footer-text">created by Abdirahman</a>
    </div>
  </body>
</html>



{%endblock content%}